@charset "utf-8";
/*
 * Plugin:      Spanish Quotes of the Day (Frase del Día)
 * Path:        /css
 * File:        back-end-interface.css
 * Since:       1.3.0
 */

/*
 * Module:		CSS Back-End
 * Version: 	1.4.0
 * Since:       1.3.0
 * Description: CSS for back-End settings Page
 */
#spnq-form ul.ui-tabs-nav { margin: 0px; border-bottom: 1px solid #ccc; margin-bottom: 23px; margin-top: 5px; }
#spnq-form ul.ui-tabs-nav li { display: inline-block; margin-bottom: -5px; margin-right: -2px; }
#spnq-form ul.ui-tabs-nav li h3 { padding: 9px 1px 4px 1px; margin: 0px; }
#spnq-form ul.ui-tabs-nav li h3 .nav-tab { padding: 6px 10px; font-weight: 700; font-size: 14px; line-height: 24px; }
#spnq-form ul.ui-tabs-nav li h3 a { border-bottom: 1px solid #ccc; }
#spnq-form ul.ui-tabs-nav li.ui-tabs-active h3 a { background-color: #f1f1f1; border-bottom: 1px solid #f1f1f1; }
#spnq-form .range { padding-top: 14px; min-width: 350px; }
#spnq-form .as-range-output { width: 70px; }

.images-widget-mode { 
	display: flex; 
	flex-wrap: wrap;
	align-items: flex-start; 
	justify-content: space-around; 
}
.images-widget-mode.two img { 
	height: auto !important;
	margin: 0.5em 0em !important;
	box-sizing: border-box;
	width: auto !important;
	max-width: 650px;
}
.images-widget-mode.two img { 
	min-width: 330px;
	flex: 0 0 45% !important;
}
.images-widget-mode.three img { 
	min-width: 240px;
	flex: 0 0 30% !important;
}